body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Cambria, Cochin, Georgia, Times, serif, ;
}

.stopwatch {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #760d89;
    color: #fff;
}

button:hover {
    background-color: #760d89;
}

#laps {
    text-align: left;
}
